# compiled output
/dist
/node_modules
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.production
.env.staging
